<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>New User Create Notification</h2>
<p>
  <%= @user.first_name %> <%= @user.last_name %> created an account
  from email address <%= @user.email %> with phone number <%= @user.phone_number %>
</p>
</body>
</html>